{
    # Configuration globale de Caddy
    admin off
}

localhost {
    tls /etc/ssl/certs/localhost.pem /etc/ssl/private/localhost-key.pem

    # Redirection de la racine vers /public
    root * /var/www/html/public
    
    # Enable compression
    encode gzip
    
    # Gestion PHP
    php_fastcgi unix//var/run/php/php-fpm.sock
    
    # Pour Symfony - réécriture des URLs
    rewrite * {
        to {path} {path}/ /index.php{uri}
    }
    
    # Fichiers statiques
    file_server
}