:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.199);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
    width:100vw;
    height:100vh;
}

#root {
  width:100%;
  height:100%;
}

* {
    box-sizing: border-box;
}

.sun-moon {
    position: relative;
    width: 90px;
    height: 56px;
    padding: 5px;
    border-radius: 45px;
    border: 2px solid #a899e7;
    background-color: #d3d3d3;
    overflow: hidden;
    transition: all 0.7s ;     
}

.circle {
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.small {
    width: 24px;
    height: 24px;
    background: #d3d3d3;
    left: 16px;
    top: 3px;
    transition: all 0.7s ;
}

.large {
    width: 30px;
    height: 30px;
    background: #a899e7;
    border: 3px solid #a899e7;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    transition: all 0.7s;
}

.sun-moon input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.move {
    background-color: #d3d3d3;
    border-color: #777777;
}

.move .large {
    left: 50px;
    background: rgb(255, 255, 66);
}

.move .small {
    left: 60px;
    top: 50px;
    background-color: #d3d3d3;
}