<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}DefIUT{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="root">
        </div>
    </body>
    {{ encore_entry_script_tags('app') }}
</html>